.table-view {
    -fx-base: #f0f0f0;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #f0f0f0;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #d0d0d0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #a0a0a0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5 0 5 0;
}

.table-view .table-cell {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5 0 5 0;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #a0c8f0;
    -fx-text-fill: #000000;
}